$primary: #A32334;


body {

    &.index {
        display: flex;
        flex-direction: row;

        .sidebar .btn {
            border-radius: 0;
            color: #fff;
            font-weight: bold;
            &:hover {
                color: $primary;
                background-color: #fff;
            }
        }
    }

    main form {
        min-width: 360px;
        width: 35%;
    }
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";